* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);

  display: flex;

  #burger {
    position: fixed;
    z-index: 999;
    right: 15px;
    top: 15px;
    border: none;
    padding: 10px;
    background-color: rgb(63, 63, 63);
    border-radius: 4px;
    color: rgb(158, 158, 158);
    font-size: 1rem;
  }

  aside {
    height: 100%;
    width: 0%;
    transition: all 0.3s ease-in-out;
    border-left: 1px solid rgb(31, 31, 31);
  }
  section {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    // background-color: teal;

    nav {
      width: 100%;
      height: 10%;
      border-bottom: 2px solid rgb(31, 31, 31);
      // background-color: dimgray;
    }

    .wrapper {
      width: 100%;
      flex: 1;
      width: 100%;
      flex: 1;
      padding: 20px;

      display: grid;
      grid-template-columns: 1fr 1fr; /* EXACT 2 COLUMNS */
      gap: 30px;
      overflow: auto;
      scrollbar-width: none;

      .font-card {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
          ),
          url("https://images.unsplash.com/photo-1513244653406-d64972b1c980?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
        border-radius: 14px;
        padding: 20px;
        color: white;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        h1 {
          font-size: 4rem;
          font-weight: 500;
        }

        p {
            text-align: center;
          font-size: 1rem;
          font-weight: 300;
        }
      }
    }
    .wrapper::-webkit-scrollbar {
      display: none; /* Chrome, Edge, Safari */
    }
  }
}
