* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);

  display: flex;

  #burger {
    position: fixed;
    z-index: 999;
    right: 15px;
    bottom: 15px;
    border: none;
    padding: 10px;
    background-color: rgb(63, 63, 63);
    border-radius: 4px;
    color: rgb(158, 158, 158);
    font-size: 1rem;
  }

  .saved-panel {
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.4); /* translucent overlay */
    backdrop-filter: blur(10px); /* BLUR EFFECT */
    -webkit-backdrop-filter: blur(10px);

    position: fixed;
    top: -100%;
    left: 0%;

    z-index: 999;
    padding: 20px;

    overflow: hidden;

    transition: all ease 0.5s;

    .close-saved {
      padding: 12px;
      font-size: 1rem;
      position: absolute;
      right: 20px;
      top: 20px;
      border-radius: 50%;
      border: 1px solid rgb(225, 225, 225);

      background: rgba(2, 2, 2, 0.8);
      color: white;
    }

    .saved-wrapper {
      height: 100%;
      overflow-y: auto;
      padding-right: 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .saved-font-card {
        width: 50%;
        background: #111;
        padding: 20px;
        border-radius: 16px;
        border: 1px solid #333;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .top {
          font-size: 0.85rem;
          color: #aaa;
          text-transform: uppercase;
          letter-spacing: 1px;
        }

        .pair {
          font-size: 1.2rem;
          font-weight: 600;
        }

        .preview {
          h1 {
            margin: 10px 0 5px 0;
          }
        }
        .actions {
          margin-top: 10px;
          display: flex;
          gap: 10px;
        }

        button {
          padding: 8px 12px;
          background: #222;
          border: 1px solid #444;
          border-radius: 8px;
          color: white;
          cursor: pointer;
          transition: 0.2s ease;
        }

        button:hover {
          background: #333;
        }
      }
    }

    .saved-wrapper::-webkit-scrollbar {
      display: none;
    }
  }

  aside {
    height: 100%;
    width: 0%;
    transition: all 0.3s ease-in-out;
    border-left: 1px solid rgb(31, 31, 31);
  }
  section {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    // background-color: teal;

    nav {
      width: 100%;
      height: 10%;
      border-bottom: 2px solid rgb(31, 31, 31);
      // background-color: dimgray;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      padding: 4px 30px;

      .nav-btn {
        padding: 5px;
        border: 1px solid rgb(59, 59, 59);
        border-radius: 5px;
        background-color: #111;
        color: #aaa;
        font-size: 1.2rem;
      }
    }

    .wrapper {
      width: 100%;
      flex: 1;
      width: 100%;
      flex: 1;
      padding: 20px;

      display: grid;
      grid-template-columns: 1fr 1fr; /* EXACT 2 COLUMNS */
      gap: 30px;
      overflow: auto;
      scrollbar-width: none;

      .font-card {
        height: 300px;
        background-position: center;
        background-size: contain;
        padding: 25px;
        position: relative;
        background: #111;
        border-radius: 16px;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border: 1px solid #222;
        transition: all ease 0.3s;

        .save-font {
          background: #365525b9;
          color: white;
          border: 1px solid #333;
          padding: 8px 12px;
          font-size: 0.9rem;
          cursor: pointer;
          border-radius: 8px;
          transition: 0.2s;
          position: absolute;
          top: 12px;
          right: 12px;
        }

        .card-top {
          display: flex;
          flex-direction: column;
          gap: 4px;
        }

        .category {
          font-size: 0.9rem;
          color: #999;
          text-transform: uppercase;
          letter-spacing: 1px;
        }

        .pair-name {
          font-size: 1.2rem;
          font-weight: 600;
          color: #ffffff;
        }

        .preview h1 {
          margin-bottom: 8px;
          color: hsl(0, 0, 95);
          transition: all ease 0.8s;
        }
        .preview p {
          color: hsl(0, 0, 80);
          transition: all ease 0.8s;
        }

        .card-bottom {
          margin-top: auto;
          display: flex;
          gap: 10px;
        }

        .copy-btn,
        .import-btn,
        .details-btn {
          background: #222;
          color: white;
          border: 1px solid #333;
          padding: 8px 12px;
          font-size: 0.9rem;
          cursor: pointer;
          border-radius: 8px;
          transition: 0.2s;
        }

        .copy-btn:hover,
        .import-btn:hover {
          background: #333;
        }
      }
    }
    .wrapper::-webkit-scrollbar {
      display: none; /* Chrome, Edge, Safari */
    }
  }
}
