* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(15, 15, 15);
  display: flex;

  #burger{
    position: fixed;
    z-index: 999;
    right: 15px;
    top: 15px;
    border: none;
    padding: 10px;
    background-color: rgb(63, 63, 63);
    border-radius: 4px;
    color: rgb(158, 158, 158);
    font-size: 1rem;
  }

  aside {
    height: 100%;
    width: 0%;
    background-color: rgb(81, 14, 27);
  }
  section {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    // background-color: teal;

    nav{
        width: 100%;
        height: 10%;
        // background-color: dimgray;
    }

    .wrapper{
        width: 100%;
        flex: 1;
        background-color: rgb(90, 66, 57);
    }
  }
}
